<div class="medium-6 medium-centered large-4 large-centered columns">

  <form>
    <div class="row column log-in-form">

      <h4><div class="text-center"></div></h4>
      <label>
        "Email"
        <input type="text"></label>
      <h4><div class="text-center"></div></h4>
      <label>
        "Password"
        <input type="text">
      </label>
      <p>
        <a type="submit" class="button expanded">Login</a>
      </p>
      <p>
      <p class="text-center">
        <a href="#">Forgot your password?</a>
      </p>
    </div>
  </form>